body {
    background-color: #0C80DA !important;
}
.container {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 50% !important;
    color: #fff;
}
.container h2 {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
}
.container p {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
}
.updateinfo {
    padding-top: 45px;
}
img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: all .3s ease-in-out;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
img:hover {
    opacity: 0.8;
}
.updateinfo p {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    opacity: 0.8;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}
.downloadlink {
    background-color: #066FC1 !important;
    padding: 15px 20px;
    color: #fff;
    border: 0px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
}
.downloadlink:hover,
.downloadlink:focus {
    text-decoration: none !important;
    color: #fff !important;
    background-color: #13578C !important;
}
.downloadlinks {
    text-align: center;
    display: block;
    width: 100%;
    height: 50px;
    padding-top: 7px !important;
}
.footerlinks {
    padding: 0px;
    text-align: center;
    list-style-type: none;
    color: #fff;
    width: 100%;
    padding-top: 30px;
    display: block;
}
.footerlinks li {
    padding-bottom: 10px;
    text-align: center;
    float: left;
    padding-right: 10px;
    width: 50%;
}
.footerlinks a {
    color: #fff;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    font-weight: 600;
    opacity: 0.8;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
}
.footerlinks a:hover,
.footerlinks a:focus {
    text-decoration: none !important;
    color: #fff !important;
    opacity: 0.5;
}
.releasenotes {
    cursor: pointer;
}
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}
.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
    border-radius: 0px !important;
}
.modal-header {
    border: 0px;
    background-color: #0C80DA !important;
    color: #fff;
    font-weight: 400;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
    text-transform: uppercase;
    padding-bottom: 10px !important;
}
.close {
    color: #fff !important;
    opacity: 0.7 !important;
    font-size: 22px !important;
}
#changelog .btn {
    border-radius: 0px;
    border: 0px;
    color: #fff;
    background-color: #0784EF;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .1s ease-in-out;
}
#changelog .btn:hover,
#changelog .btn:focus {
    box-shadow: none !important;
    background-color: #1078D2;
}