body {
    background-color: #0C80DA !important;
}
.container {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 50% !important;
    color: #fff;
}
.container h2 {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
}
.container p {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
}
.updateinfo {
    padding-top: 10px;
}
img {
    width: 150px;
    display: block;
    transition: all .3s ease-in-out;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
img:hover {
    opacity: 0.8;
}
.updateinfo p {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    opacity: 0.8;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
    font-weight: 400;
    font-size: 16px !important;
    text-transform: uppercase;
}
.downloadlink {
    background-color: #066FC1 !important;
    padding: 13px 20px;
    padding-bottom: 17px !important;
    color: #fff !important;
    text-transform: uppercase;
    border: 0px;
    transition: all .3s ease-in-out;
    font-weight: 600;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
}
.downloadlink:hover,
.downloadlink:focus {
    text-decoration: none !important;
    color: #fff !important;
    background-color: #13578C !important;
}
.downloadlinks {
    text-align: center;
    display: block;
    width: 100%;
    height: 50px;
    padding-top: 7px !important;
}
.footerlinks {
    padding: 0px;
    text-align: center;
    list-style-type: none;
    color: #fff;
    width: 100%;
    padding-top: 30px;
    display: block;
}
.footerlinks li {
    padding-bottom: 10px;
    text-align: center;
    float: left;
    padding-right: 10px;
    width: 50%;
}
.footerlinks a {
    color: #fff;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    font-weight: 600;
    opacity: 0.8;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
}
.footerlinks a:hover,
.footerlinks a:focus {
    text-decoration: none !important;
    color: #fff !important;
    opacity: 0.5;
}
.releasenotes {
    cursor: pointer;
}
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}
.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
    border-radius: 0px !important;
}
.modal-header {
    border: 0px;
    background-color: #0C80DA !important;
    color: #fff;
    font-weight: 400;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
    text-transform: uppercase;
    padding-bottom: 10px !important;
}
.close {
    color: #fff !important;
    opacity: 0.7 !important;
    font-size: 22px !important;
}
#changelog .btn {
    border-radius: 0px;
    border: 0px;
    color: #fff;
    background-color: #0784EF;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .1s ease-in-out;
}
#changelog .btn:hover,
#changelog .btn:focus {
    box-shadow: none !important;
    background-color: #1078D2;
}


.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
     transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

#header h1{
        margin-bottom: 5px !important;
}

#header p{
    width: 50%;
    color: #fff !important;
    opacity: 0.9;
}

.get-app{
    margin: 20px 0;
    margin-bottom: 30px;
}

.alsoon{
    font-size: 17px !important;
    color: #fff !important;
    text-transform: uppercase;
}

ul.dicons li a{
        font-size: 13px !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

#changelog p{
        color: #312A2A;
    margin: 0 0 6px 0;
    font-size: 15px;
    line-height: 25px;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
    font-weight: 500;
}

#changelog .close{
        float: right;
    height: 0px;
    padding: 0px;
    font-size: 30px !important;
    line-height: 40px;
}

.updateinfo{
    padding: 10px 15px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: #312A2A;
}
.modal-body{
    padding-bottom: 5px !important;
}

.follow-text a{
    border: 0px;
    opacity: 0.8;
    font-size: 17px !important;
    text-transform: uppercase;
}

.follow-text a:hover, .follow-text a:focus{
    opacity: 0.7;
}


body{
    background: url("../images/chrome.png") no-repeat center center fixed !important;
}    

.chrome{
        height: 58px;
    font-size: 20px;
    outline: 0px !important;
    padding: 0px 20px;
    border-radius: 0px;
}

@media (max-width: 1700px){
    #header h1{
        font-size: 50px;
    }
    
    #header p{
        font-size: 25px;
    }
    
    .downloadlink{
        font-size: 20px;
    }
    
}

@media (max-width: 1300px){
    #header h1{
        font-size: 40px;
    }
    
    #header p{
        font-size: 20px;
    }
    
    .downloadlink{
        font-size: 18px;
    }
    
}


@media (max-width: 800px){
    #header h1{
        font-size: 35px;
    }
    
    #header p{
        font-size: 20px;
        width: 100%;
    }
    
    .downloadlink{
        font-size: 16px;
    }
    
}


@media (max-width: 600px){
    #header h1{
        font-size: 35px;
    }
    
    #header p{
        font-size: 20px;
        width: 100%;
    }
    
    .downloadlink{
        font-size: 16px;
    }
    
    .get-app a{
        display: block;
    margin: 8px 0;
    }
    
    #footer{
        position: initial;
    }
    
    .get-app{
        margin-bottom: 10px;
    }
}

@media (max-width: 420px){
    .dicons{
        display: none !important;
    }
}